<div class="page page-general">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="panel-heading">
                    <strong><span class="fa {{pageIcon?pageIcon:'fa-th'}}"></span>{{pageTitle?pageTitle:''}}</strong>
                    <div class="pull-right">
                        <span fullscreen></span>
                    </div>
                </div>
                <div type="table" datatable="config" edittype="table"></div>
            </section>
        </div>
    </div>
</div>
