<!--<div class="modal-header"><h3 data-i18n="change password"></h3></div>-->
<!--<form role="form" name="chpassword" ng-submit="submit()">-->
    <!--<div class="modal-body">-->
            <!--<div class="form-group">-->
                <!--<label for="oldPwd" data-i18n="old password"></label>-->
                <!--<input type="password" name="oldPwd" data-ng-model="user[fields.o]" class="form-control" id="oldPwd" ng-trim="true" ng-minlength="6" required>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="newPwd" data-i18n="new Password"></label>-->
                <!--<input type="password" name="newPwd" data-ng-model="user[fields.n]" class="form-control" id="newPwd" ng-trim="true" ng-minlength="6" required>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="repassword" data-i18n="re Password"></label>-->
                <!--<input type="password" name="repassword" data-ng-model="user.repassword" class="form-control" id="repassword" ng-trim="true" ng-minlength="6" required>-->
            <!--</div>-->
        <!--<div ng-show="chpassword.$valid==false">-->
            <!--<uib-alert type="warning" ng-show="chpassword.oldPwd.$error.minlength">旧密码不得小于6位数</uib-alert>-->
            <!--<uib-alert type="warning" ng-show="chpassword.newPwd.$error.minlength">新密码不得小于6位数</uib-alert>-->
            <!--<uib-alert type="warning" ng-show="chpassword.repassword.$error.minlength">确认密码不得小于6位数</uib-alert>-->
        <!--</div>-->
        <!--<div ng-show="chpassword.$valid">-->
            <!--<uib-alert type="warning" ng-show="user[fields.n]!=user.repassword">确认密码不一致</uib-alert>-->
        <!--</div>-->
        <!--<uib-alert type="{{alert.type}}" ng-show="alert.show" data-ng-bind="alert.message"></uib-alert>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button type="submit" class="btn btn-primary" data-ng-disabled="chpassword.$valid==false || user[fields.n]!=user.repassword" data-i18n="confirm"></button>-->
        <!--<button class="btn btn-warning" ng-click="cancel()" data-i18n="close"></button>-->
    <!--</div>-->
<!--</form>-->

<form role="form" name="chpassword" class="form-validation form-horizontal" ng-submit="submit()">
    <section class="panel-default">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span><span data-i18n="change password"></span></strong>
            <div class="pull-right">
                <span class="glyphicon glyphicon-remove" ng-click="cancel()"></span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <!--<div class="col-md-1">-->
                <!--</div>-->
                <div class="col-md-10">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="oldPwd" class="col-sm-4 control-label" data-i18n="old password"></label>
                            <div class="col-sm-8">
                                <input type="password" name="oldPwd" data-ng-model="user[fields.o]" class="form-control" id="oldPwd" ng-trim="true" ng-minlength="6" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPwd" class="col-sm-4 control-label" data-i18n="new Password"></label>
                            <div class="col-sm-8">
                                <input type="password" name="newPwd" data-ng-model="user[fields.n]" class="form-control" id="newPwd" ng-trim="true" ng-minlength="6" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repassword" class="col-sm-4 control-label" data-i18n="re Password"></label>
                            <div class="col-sm-8">
                                <input type="password" name="repassword" data-ng-model="user.repassword" class="form-control" id="repassword" ng-trim="true" ng-minlength="6" required>
                            </div>
                        </div>

                        <div ng-show="chpassword.$valid==false">
                            <uib-alert type="warning" ng-show="chpassword.oldPwd.$error.minlength">旧密码不得小于6位数</uib-alert>
                            <uib-alert type="warning" ng-show="chpassword.newPwd.$error.minlength">新密码不得小于6位数</uib-alert>
                            <uib-alert type="warning" ng-show="chpassword.repassword.$error.minlength">确认密码不得小于6位数</uib-alert>
                        </div>
                        <div ng-show="chpassword.$valid">
                            <uib-alert type="warning" ng-show="user[fields.n]!=user.repassword">确认密码不一致</uib-alert>
                        </div>
                        <uib-alert type="{{alert.type}}" ng-show="alert.show" data-ng-bind="alert.message"></uib-alert>

                    </form>
                </div>
                <div class="col-md-1">
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success btn-w-md" data-ng-disabled="chpassword.$valid==false || user[fields.n]!=user.repassword" data-i18n="confirm"></button>
            <!--<button type="button" class="btn btn-primary btn-w-md" ng-click="reset()">复位</button>-->
            <button type="button" class="btn btn-primary btn-w-md" ng-click="cancel()">关闭</button>
        </div>
    </section>
</form>
