<link href="bower_components/lightgallery/dist/css/lightgallery.css" rel="stylesheet">
<div class="page page-general">
    <div class="row">
        <div class="col-md-12" data-ng-include="'/views/location.html'"></div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic ui-ribbon-container ui-ribbon-info">
                <div class="ui-ribbon-wrapper">
                    <div class="ui-ribbon">
                        <a href="javascript:void(0);" fullscreen>全屏</a>
                    </div>
                </div>
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>列表管理</strong>
                </div>
                <div type="gallery" datatable="config"></div>
            </section>
        </div>
    </div>
</div>
</div>